<% layout('layouts/boilerplate') %>

    <a href="/campgrounds/<%= campground._id %>"> Back to Campgorund </a>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label class="form-lable" for="title"> Title </label>
                    <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required/>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="image"> Image URL </label>
                    <input class="form-control" type="text" id="image" name="campground[image]" value="<%= campground.image %>" required/>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="description"> Description </label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]">
                        <%= campground.description %>
                    </textarea>
                </div>

                <div class="mb-3">
                    <label class="form-lable" for="price"> Price </label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id="price" name="campground[price]"  value="<%= campground.price %>" required/>
                        <span class="input-group-text">0.00</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-lable" for="location"> Location </label>
                    <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>"  required/>
                </div>

                <button class="btn btn-success">Update Campground</button>
            </form>

            <a href="/campgrounds/<%= campground._id %>"> Back to Campground </a>
        </div>
    </div>