<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-1 offset-4">
            <div class="card" style="width: 18rem;">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item">
                        <%= campground.price %>
                    </li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/campgrounds/<%= campground._id %>/edit"> Edit </a>
                    <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <button class = "btn btn-danger">DELETE</button>
                    </form>

                </div>
            </div>
        </div>
    </div>



   